body
{
    min-width: 710px;
    font-size: 17px;
}

.page-header
{
    margin-top:0;
}

.page-header h1 > span+span:before {
    padding: 0 5px;
    font-weight: normal;
    content: "/\00a0";
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #BBDEFB;
  left: 18%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 63%;
  float: right;
  /*border-left: 5px solid #BBDEFB;*/
  border-radius: 2px;
  padding: 30px 20px;
  position: relative;
/*  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);*/
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 10%;
  padding-bottom:10%;
  margin-top: -5%;
  margin-left: -5%;
  height: 0;
  overflow:visible;
  line-height: 100%;
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 18%;
  background-color: #90CAF9;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li > .timeline-badge.disabled
{
    background-color:#c1c1c1;
}

.timeline > li > .timeline-badge.active
{
    cursor: pointer;
}

.timeline > li > .timeline-badge.active:hover
{
    background-color: #BBDEFB;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

.inner-content-wrapper
{
    position: relative;
    padding-top: 100%;
}

.inner-content
{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
}

.inner-content:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.center {
  display: inline-block;
  vertical-align: middle;
}

.timeline-body a
{
    color:inherit;
    text-decoration: none;
    display:inline-block;
    padding: 2px 5px;
    margin:3px 0;
    border-radius: 4px;
    cursor: pointer;
    border-bottom: 3px solid #BBDEFB;

}

.timeline-body a:hover
{
    background-color:#BBDEFB;
}

.no-data
{
    color:grey;
    height:60px;
    line-height: 60px;
}

.navbar-default {
    background-color: #E3F2FD;
    border-color: #BBDEFB;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
    background-color: #BBDEFB;
}

.navbar-default .navbar-brand {
    color: #333;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0 15px;
    font-size: 25px;
    line-height: 50px;
}

td div
{
    width: 200px;
    border-bottom:1px solid #CCC;
}
td 
{
    vertical-align: top;
}

#about
{
    p
    {
        margin-top: 40px;
        margin-bottom: 0;
    }

    ul
    {
        margin-top:10px;
    }
}